<div class="container-fluid footer mt-5 py-5 bg-primary">
    <div class="row text-center align-items-start">
        <!-- Left Section: Firma (Navigation links) -->
        <div class="col-lg-4 footer-left d-flex flex-column align-items-center">
            <h5 class="text-primary font-weight-bold">
                <img src="../assets/img/klimat-big.png" alt="Klimat Logo" class="footer-logo">
            </h5>            
            <div class="footer-links d-flex align-items-center">
                <a routerLink="" class="text-primary">Główna</a>
                <div class="vr mx-3" style="height: 1.5em;"></div>
                <a routerLink="menu" class="text-primary">Oferta</a>
                <div class="vr mx-3" style="height: 1.5em;"></div>
                <a routerLink="about" class="text-primary">O nas</a>
                <div class="vr mx-3" style="height: 1.5em;"></div>
                <a routerLink="contact" class="text-primary">Kontakt</a>
              </div>
              
              

            <!-- Social Media -->
            <div class="footer-social mt-3">
                <a href="https://www.facebook.com/klimatkalisz" target="_blank" class="btn  d-flex border align-items-center text-primary">
                    <i class="bi bi-facebook mr-2 text-primary"></i>Polub nas na Facebooku
                </a>
            </div>
        </div>

        <!-- Middle Section: Adres -->
        <div class="col-lg-4 footer-middle d-flex flex-column align-items-center">
            <h5 class="text-primary font-weight-bold">
                <i class="bi bi-geo-alt-fill"></i>Adres
            </h5>
            <p class="text-primary mb-1">
                <a href="https://maps.google.com/?q=Klimat%20Sp.%20z%20o.o.,%20ul.%20Tylna%2026,%2062-800%20Kalisz" target="_blank" class="text-primary">
                    Klimat Sp. z o.o.<br>ul. Tylna 26<br>62-800 Kalisz
                </a>
            </p>
        </div>

        <!-- Right Section: Kontakt and Godziny Otwarcia -->
        <div class="col-lg-4 footer-right d-flex flex-column align-items-center">
            <h5 class="text-primary font-weight-bold">
                <i class="bi bi-person-lines-fill"></i>Kontakt
            </h5>
            <p class="text-primary mb-1">
                <a href="tel:+48578280028" class="text-primary">
                    <i class="bi bi-telephone"></i>+48 578 280 028
                </a>
            </p>
            <p class="text-primary">
                <i class="bi bi-envelope"></i> <a href="mailto:biuro@klimat.kalisz.pl" class="text-primary">biuro@klimat.kalisz.pl</a>
            </p>

            <!-- Godziny otwarcia -->
            <h5 class="text-primary font-weight-bold mt-3">
                <i class="bi bi-clock-fill"></i>Godziny otwarcia
            </h5>
            <p class="text-primary">
                Poniedziałek-Piątek: 8:00-17:00
            </p>
        </div>
    </div>

    <!-- Copyright Section below everything -->
    <div class="text-center mt-4">
        <p class="text-primary opacity-50 small">
            © 2024 Klimat Kalisz Sp. z o.o. All rights reserved.
        </p>
    </div>
</div>
