<div class="container mt-5 mb-5">
    <div class="image-container">
        <img src="assets/img/banner2.jpg" alt="Banner" class="centered-image">
    </div>

    <h1 class="text-center mt-3">O nas</h1>

    <p>Jesteśmy firmą z 20 letnim doświadczeniem w branży czystości. Specjalizujemy się w kompleksowych rozwiązaniach dla firm i instytucji. Oferujemy nowoczesne maszyny czyszczące, wysokiej jakości środki czystości oraz profesjonalne usługi sprzątające. Zaufali nam klienci z różnych sektorów, w tym biura, hotele, magazyny obiekty przemysłowe czy kościoły. Sprawdź, jak możemy zadbać i o Twoją przestrzeń!</p>
</div>
